<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA6AIAAAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGFuYXNhYnV6YWl0b3Vu
		AAAHAAAAAQEAAExpYnJhcnkAFAAAAAEBAABBdXRvc2F2ZSBJbmZvcm1hdGlv
		biIAAAABAQAAVW5zYXZlZCBYY29kZSBEb2N1bWVudC54Y3dvcmtzcGFjZQAA
		FAAAAAEGAAAEAAAAFAAAACwAAAA8AAAAWAAAAAgAAAAEAwAA4b0KAAAAAAAI
		AAAABAMAAF1oCwAAAAAACAAAAAQDAABeaAsAAAAAAAgAAAAEAwAAYwkvAAAA
		AAAIAAAABAMAABq9SQAAAAAAFAAAAAEGAACgAAAAsAAAAMAAAADQAAAA4AAA
		AAgAAAAABAAAQcL6fOdnOFAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
		AAAAAAgAAAAEAwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
		Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABgRmQ6AAAACAAAAAAE
		AABBwd5EgAAAACQAAAABAQAAQkZENzEyNzItOTIwRC00MjAyLThEQTgtQ0Y5
		MTA5MUNFODk3GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
		AQEAAC8AAAAAAAAAAQUAAOQAAAABAgAAMTljYzY5NDA2ZmNjYmZiMjgwYTUy
		YTdiMGM3NWFhMTVmNDllNzAzYjk5NjViYTg4M2VlYWY2ZDkyN2RlNThlNzsw
		MDswMDAwODAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIw
		O2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA2
		OzAwMDAwMDAwMDAyZjA5NjM7NTM7L3VzZXJzL2FuYXNhYnV6YWl0b3VuL2xp
		YnJhcnkvYXV0b3NhdmUgaW5mb3JtYXRpb24AzAAAAP7///8BAAAAAAAAABAA
		AAAEEAAAhAAAAAAAAAAFEAAA8AAAAAAAAAAQEAAAHAEAAAAAAABAEAAADAEA
		AAAAAAACIAAA6AEAAAAAAAAFIAAAWAEAAAAAAAAQIAAAaAEAAAAAAAARIAAA
		nAEAAAAAAAASIAAAfAEAAAAAAAATIAAAjAEAAAAAAAAgIAAAyAEAAAAAAAAw
		IAAA9AEAAAAAAAABwAAAPAEAAAAAAAARwAAAFAAAAAAAAAASwAAATAEAAAAA
		AACA8AAA/AEAAAAAAAA=
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2021-03-07T12:08:47Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
